
.base{
    background-color: #899E8B;
}

.accent {
    background-image: url("Assets/Images/lab_logo.png");
    background-size: contain;     
    background-repeat: no-repeat; 
    background-position: center;   
       
    height: 1000px;               
}

.gray{
    background-color: #272727;
}

.white{
    background-color: #EBEBEB;
}

.whitetext{
    color: white;
}

.about-text{
    font-size: 15px;
    text-align: justify;
}


.publications-col{
    padding-left: 200px;
    padding-right: 200px;
}

.member-photo{
    padding-top: 10px;
    padding-bottom: 20px;
}
